<!DOCTYPE html>
<html>

<head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title></title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
</head>

<body>
    <!-- Vue.jsで読み込む -->
    <div id="app">

        <common-menu></common-menu>

        <div class="ui main container">
            <!-- 基本的なコンテンツはここに記載する -->
            <div class="ui segment">
                <canvas id="myChart"></canvas>
            </div>

            <div class="ui segment">
                <form class="ui form" v-on:submit.prevent="post">
                    <div class="field">
                        <textarea required v-model="postForm.text"></textarea>
                    </div>

                    <div class="inline fields">
                        <div class="field">

                            <label><i class="big image icon"></i><input type="file" multiple></label>
                        </div>
                        <div class="field">
                            <label>
                                カテゴリー
                            </label>
                            <input type="text" v-model="postForm.category">
                        </div>
                        <button type="submit" class="ui button">
                            投稿
                        </button>
                    </div>
                </form>
            </div>
            <div class="ui segments">
                <div class="ui segment" v-for="post in sortedPosts">
                    <div class="ui right floated red button" v-if="post.userId==userId" v-on:click="deletePost(post)">
                        <i class="trash icon"></i>削除
                    </div>
                    <h2 class="ui header">
                        <div class="content">
                            {{post.name}}
                        </div>
                        <div class="sub header">
                            {{post.date}}
                        </div>
                    </h2>
                    <p>
                        {{post.text}}
                    </p>
                    <div class="ui label" v-if="post.category">
                        {{post.category}}
                    </div>
                    <div class="ui labeled button">
                        <div class="positive ui button" v-on:click="nice(post)"><i class="thumbs up icon"></i>痩せそう</div>
                        <a class="ui basic label">{{post.nice}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js " charset="utf-8 "></script>
    <script src="./js/menu.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./js/index-test.js " charset="utf-8 "></script>
</body>

</html>
