<!DOCTYPE html>
<html>

<head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>ログイン</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
</head>

<body>
    <!-- Vue.jsで読み込む -->
    <div id="app">

        <div class="ui main container">
            <!-- 基本的なコンテンツはここに記載する -->

            <div class="ui segment">
                <form class="ui large form" v-on:submit.prevent="submit">

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="UserId" required v-model="user.userId">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" required v-model="user.password">
                        </div>
                    </div>

                    <div class="field" v-if="mode=='signup'">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Confirm Password" required v-model="user.confirmPassword">
                        </div>
                    </div>

                    <div class="field" v-if="mode=='signup'">
                        <div class="ui left icon input">
                            <i class="address card icon"></i>
                            <input type="text" placeholder="Name" required v-model="user.name">
                        </div>
                    </div>

                    <div class="field" v-if="mode=='signup'">
                        <div class="ui left icon input">
                            <i class="weight icon"></i>
                            <input type="number" min="20" max="30" placeholder="Target BMI" required v-model="user.BMIGroup">
                        </div>
                    </div>

                    <div class="field" v-if="mode=='signup'">
                        <label>Would you like to participate in a drinking party? (You can change it later.)</label>
                        <div class="ui right labeled left icon input">
                            <i class="beer icon"></i>
                            <input type="text" readonly v-model="user.drink">
                            <div class="ui button" v-on:click="toggleJoin">
                                Change
                            </div>
                        </div>
                    </div>

                    <button class="ui huge green fluid button" type="submit">
                        {{submitText}}
                    </button>
                </form>
            </div>

            <div class="ui segment" v-if="mode=='signup'">
                <h2 class="ui header">
                    <i class="calculator icon"></i>
                    <div class="content">
                        適正体重とBMIを計算
                        <div class="sub header">
                            Calculate appropriate body weight and BMI.
                        </div>
                    </div>
                </h2>
                <form class="ui large form">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="male icon"></i>
                                <input type="number" placeholder="Height" step="0.1" min="0" required v-model="postForm.height">
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left icon input">
                                <i class="weight icon"></i>
                                <input type="number" placeholder="Weight" step="0.1" min="0" required v-model="postForm.weight">
                            </div>
                        </div>
                    </div>

                </form>

                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="two wide column">BMI範囲</td>
                            <td>{{BMIrange}}</td>
                        </tr>
                        <tr>
                            <td>肥満度</td>
                            <td>{{obesityDegree}}</td>
                        </tr>
                        <tr>
                            <td>適正体重</td>
                            <td>{{properWeight}}kg</td>
                        </tr>
                        <tr>
                            <td>適性体重までの差</td>
                            <td>{{weightDiff}}kg</td>
                        </tr>
                        <tr>
                            <td>BMI</td>
                            <td>{{BMI}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="ui large grey fluid button" v-on:click="toggleMode">
                {{toggleText}}
            </button>
        </div>



    </div>

    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./js/login.js" charset="utf-8"></script>
</body>

</html>
